---
- name: Fail if required variables are not defined
  assert:
    that: ("{{ item }} is defined") and ("{{ item }} | length > 0")
  loop:
    - controller.fqdn
    - controller.auth_token
    - environmentName
    - gateway.metadata.name
    - gateway.ingress.uris
    - gateway.ingress.placement.instanceRefs

- name: Form the gateway url
  set_fact:
    gateway_url: "https://{{ controller.fqdn }}/{{ api_version }}/services/environments/{{ environmentName }}/gateways/{{ gateway.metadata.name }}"

- name: Upsert gateway (create if absent, change if present)
  uri:
    url: "{{ gateway_url }}"
    method: "PUT"
    body: "{{ gateway }}"
    body_format: json
    status_code:
      - 200
      - 201
      - 202
    return_content: yes
    validate_certs: "{{ controller.validate_certs | default(false) }}"
    headers:
      Cookie: "{{ controller.auth_token }}"
  register: gateway_status

- name: Show gateway creation status
  debug:
    msg: "{{ gateway_status }}"

- name: Pause while system initiates changes
  pause:
    seconds: 2

- name: Confirm component is provisioned and not errored
  uri:
    url: "{{ gateway_url }}"
    method: "GET"
    body_format: json
    status_code:
      - 200
    return_content: yes
    validate_certs: "{{ controller.validate_certs | default(false) }}"
    headers:
      Cookie: "{{ controller.auth_token }}"
  register: gateway_current_status
  until: (gateway_current_status is defined) and
         (not gateway_current_status.json.currentStatus.state.selfConfigState.isConfiguring | bool)
  retries: 50
  delay: 2
  failed_when: gateway_current_status.json.currentStatus.state.selfConfigState.isError | bool

- name: Show gateway details
  debug:
    msg: "{{ gateway_current_status }}"
