---
- name: Converge
  hosts: all

  vars:
    controller_fqdn: ""
    api_key: ""
    user_email: ""
    user_password: ""

    environment_name: ""
    gateway:
      metadata:
        name: lending
        displayName: "Shared Public Lending BU Gateway"
        description: "Routes all non special Lending applications"
      desiredState:
        ingress:
          uris:
            "http://mortgage.acmefinancial.net":
              {}
          tls:
            certRef:
              ref: ""
            protocols:
              - ""
          placement:
            instanceRefs:
              - ref: ""

  tasks:
    - include_role:
        name: ansible-role-nginx-controller-gateway
