{# 
notes:
#}
{
    "metadata": {
        "displayName": "{{gateway.displayname}}",
        "description": "{{gateway.description}}"
    },
    "desiredState": {
        "ingress": {
            "uris": {
                "{{ingress_uri}}": { 
                    "matchMethod": [ "PREFIX", "REGEX", "REGEX_CASE_SENSITIVE", "SUFFIX", "EXACT" ],
                    "tls": {
                        "certRef": { "ref": "{{ingress_uri_cert_ref}}" },
                        "protocols": "string",
                        "cipher": "string",
                        "preferServiceCipherServiceConfigState": ["ENABLED", "DISABLED"],
                        "sessionCache": ["OFF", "NONE", "BUILTIN", "SHARED"]
                    }
                }
            },
            "methods": [ "POST", "GET", "PUT", "DELETE", "PATCH", "HEAD", "TRACE", "OPTIONS", "CONNECT" ],
            "headers": [
                {
                    "name": "string",
                    "nameMatchMethod": [ "PREFIX", "REGEX", "REGEX_CASE_SENSITIVE", "SUFFIX", "EXACT" ],
                    "value": "string",
                    "valueMatchMethod": [ "PREFIX", "REGEX", "REGEX_CASE_SENSITIVE", "SUFFIX", "EXACT" ]
                }
            ],
            "http2": ["ENABLED", "DISABLED"],
            "spdy": ["ENABLED", "DISABLED"],
            "proxyProtocol": ["ENABLED", "DISABLED"],
            "setFib": 0,
            "fastOpen": 0,
            "backlog": 0,
            "receiveBufferSize": "string",
            "sendBufferSize": "string",
            "acceptFilter": ["DATA_READY", "HTTP_READY"],
            "deferred": ["ENABLED", "DISABLED"],
            "isIpv6Only": "bool",
            "reusePort": ["ENABLED", "DISABLED"],
            "tls": {
                "certRef": { "ref": "{{ingress_uri_cert_ref}}" },
                "protocols": "string",
                "cipher": "string",
                "preferServiceCipherServiceConfigState": ["ENABLED", "DISABLED"],
                "sessionCache": ["OFF", "NONE", "BUILTIN", "SHARED"]
            },
            "placement": {
                "instanceRefs": [
                    {
                        "ref": "{{instance_ref}}"
                    }                    
                ]
            },
            "tcpKeepAlive": {
                "idle": "string",
                "interval": "string",
                "count": 0
            }
        }
    }
}